@font-face {
  font-family: "iconfont"; /* Project id 3765539 */
  src: url('iconfont.woff2?t=1668162506373') format('woff2'),
       url('iconfont.woff?t=1668162506373') format('woff'),
       url('iconfont.ttf?t=1668162506373') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-qq:before {
  content: "\e609";
}

